
main {
	width: 113.6rem;
    max-width: 113.6rem;
    margin: 0 auto;
    padding: 0 $pica;
}

section {
	background-color: #FFF;
	margin-top: $pica;
	padding: 0;
    border-radius: 0.5rem 0.5rem 0 0;
	position: relative;

	.section-content--right {
		width: 49.8333%;

		p {
			float: left;
		}
	}

    .section-content,
    .invoice-details {
		width: 100%;
		box-sizing: border-box;
    }

    .section-content--left,
    .invoice-details,
    footer {
    	background-color: $bgcolor-lightGrey;
    }
    .section-content--left,
    .section-content--right {
		width: 49.8333%;
	    display: inline-block;
	    vertical-align: top;
	    padding: $pica*2;
		box-sizing: border-box;

		    display: table-cell;
    }

    dl {
   	    // float: right;
	    height: auto;
        width: 100%;
        margin-bottom: $pica/4;
		display: table;
    }

    dt {
	    float: left;
	    padding: 0 $pica 0 0;
	    width: 37%;
        white-space: nowrap;
    }
    dd {
	    float: right;
	    width: 58%;
	}
	.invoice-details__apc {

		float: left;

		dl {
			float: left;
		}
	    dt {
		    width: 63%;
		    white-space: nowrap;
	    }
	    dd {
		    width: 20%;
		    text-align: right;
		    white-space: nowrap;
		}
		.net-charges {
			margin-top: $pica/4;
		}
		.net-charges dt {
			border-top: 1px solid transparent;
		    padding-top: $pica/2;
		}
		.net-charges dd {
			border-top: 1px solid $color-border-darkGrey;
		    padding-top: $pica/2;
		}
		.subtotal {
			border-top: 1px solid $color-border-darkGrey;
			margin: $pica/4 0 1.2rem;
			padding-top: $pica;
		}
	}
	.icon-help {
		background-color: transparent;
	    background-image: url(../images/help.svg);
	    background-repeat: no-repeat;
	    background-size: 24px 24px;
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		-o-background-size: 24px 24px;
		-ms-background-size: 24px 24px;
	    background-position: center center;
	    display: inline-block;
	    width: 24px;
	    height: 24px;
	    vertical-align: text-bottom;
	    cursor: pointer;
	    margin-left: $pica/4;
	    &:hover, &:focus, &:active {
	    	background-image: url(../images/help-hover.svg);
	    }
	}

	.icon-orcid {
		background-color: transparent;
	    background-image: url(../images/orcid16x16.png);
	    background-repeat: no-repeat;
	    background-size: 16px 16px;
		-webkit-background-size: 16px 16px;
		-moz-background-size: 16px 16px;
		-o-background-size: 16px 16px;
		-ms-background-size: 16px 16px;
	    background-position: center center;
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    vertical-align: middle;
	    cursor: pointer;
	    margin-right: $pica/3;
		margin-top: -3px;
	}

	.icon-author {
		background-color: transparent;
	    background-image: url(../images/people2.svg);
	    background-repeat: no-repeat;
	    background-size: 24px 24px;
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		-o-background-size: 24px 24px;
		-ms-background-size: 24px 24px;
	    background-position: center center;
	    display: inline-block;
	    width: 24px;
	    height: 24px;
	    vertical-align: text-bottom;
	    cursor: pointer;
	    margin-right: $pica/3;
	}
	label {
	    &.active-payer {
	    	color: #6cb33e;

		    .icon-author {
		    	background-image: url(../images/people-active2.svg);
		    }
		    .icon-institution {
		    	background-image: url(../images/institution-active2.svg);
		    }
			&:hover .icon-author, &:focus .icon-author, &:active .icon-author {
		    	background-image: url(../images/people-active2.svg);
		    }
			&:hover .icon-institution, &:focus .icon-institution, &:active .icon-institution {
		    	background-image: url(../images/institution-active2.svg);
		    }
		}

		&.disabled {
			color: #c3c3c3;
			cursor: default;
			pointer-events: none;

		    .icon-author {
		    	background-image: url(../images/people-disabled2.svg);
		    }
		    .icon-institution {
		    	background-image: url(../images/institution-disabled2.svg);
		    }
			&:hover .icon-author, &:focus .icon-author, &:active .icon-author {
		    	background-image: url(../images/people-disabled2.svg);
		    	cursor: default;
		    }
			&:hover .icon-institution, &:focus .icon-institution, &:active .icon-institution {
		    	background-image: url(../images/institution-disabled2.svg);
		    	cursor: default;
		    }
		}

		&:hover .icon-author, &:focus .icon-author, &:active .icon-author {
	    	background-image: url(../images/people-hover2.svg);
	    }

		&:hover .icon-institution, &:focus .icon-institution, &:active .icon-institution {
	    	background-image: url(../images/institution-hover2.svg);
	    }
	}


	.icon-institution {
		background-color: transparent;
	    background-image: url(../images/institution2.svg);
	    background-repeat: no-repeat;
	    background-size: 24px 24px;
		-webkit-background-size: 24px 24px;
		-moz-background-size: 24px 24px;
		-o-background-size: 24px 24px;
		-ms-background-size: 24px 24px;
	    background-position: center center;
	    display: inline-block;
	    width: 24px;
	    height: 24px;
	    vertical-align: text-bottom;
	    cursor: pointer;
	    margin-right: $pica/3;
	}

	.coupon {
		width: 90%;
		.icon-help {
			margin-top: $pica/4;
		}
	}
	p {
		margin: $pica 0;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	// header {
	// 	border-bottom: 1px solid $color-border-grey;
	// 	padding: 0 $pica*2 $pica $pica*2;
 //    	margin-top: $pica;

	// 	span {

	// 		margin-right: $pica*2;
	// 	    display: inline-block;

	// 		label{
	// 			padding-top: 0.15rem;
	// 		    display: inline-block;
	// 		    float: right;
	// 		}
	// 	}
	// }

	.payment-options__list {
		height: 68px;

		li {
		    display: block;
		    float: left;
			width: 95.43333px;
		    height: 66px;
		    margin-right: $pica;
		    border: 1px solid #D1D1D1;
			text-align: center;
			border-radius: 5px;

			opacity: 0.6;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);

		    &.transfer {
		    	margin-right: 0;
		    }

		    &.payment-active {
				border: 1px solid #6cb33e;

				opacity: 1;
				filter: none;
				-webkit-filter: none;
			}

			&:hover {
				opacity: 1;
				filter: none;
				-webkit-filter: none;
				transition: all ease 0.3s;
			}
		}
	}
	.paypal form {
		width: 100%;
		height: 100%;
	}
	#transfer-content,
	#creditcard-content {
		margin-top: $pica*2;
	}

	hr {
	    float: left;
	    width: 100%;
	}
	.container {
		background-color: #ffffff;
		border: 1px solid #eaeaea;
		/*padding: 0 $pica*2 $pica*2;*/
		margin-top: $pica;
	}
}

    .section-title {
    	background-color: $bgcolor-sectionTitle;
	    border-radius: 0.5rem 0.5rem 0 0;
    }

h2 {
   	margin: 0;
   	padding: $pica/2 $pica $pica/2 $pica*2;
	color: #FFF;
}
&.article-details {
   	margin-top: 0;
}

.section-content.formdt {
	.section-content--right {
		padding-top: 0;
		padding-right: 0;
		width: 49.5333%;

		.nofloat{
			float: none;
			width: 100%;

			textarea {
				margin: $pica 0 0;
				height: 16.6rem;
			}
		}
	}
	dl {
		margin-bottom: 0;
	}
	dt {
	    padding: 1.4rem 0 0;
	}
	input[type="submit"] {
	margin-top: $pica*2;
	}
}

.align-right {
	margin-bottom: $pica;

	*:last-child {
		margin-right: 0;
	}
}

.inputtext50 input[type="text"]{
		width: 47.53333%;
		float: left;

		&:last-child {
			margin-right: 0;
			float: right;
		}
		&:only-child {
			float: none;
		}
}
.validation-message {
	color: red;
	line-height: $pica*1.5;
}

.download-invoice img {
	width: $pica*2;
	margin-right: $pica;
}


