
footer {
	font-size: $fontSize-small;
    width: 113.6rem;
    max-width: 113.6rem;
    margin: 0 auto;
    text-align: center;
    clear: both;
    padding: $pica 0;
	border-top: 1px solid $color-border-grey;
	div {
		margin-top: $pica/4;
	}
    p {
    	margin: 0;
    }
}
