html { 
	font-size: 62.5%; 
}
body { 
	font-family: $myriadRegular;
	font-size: $fontSize-default; 
	font-weight: normal;
	font-style: normal;
	line-height: 2.4rem;
	color: $color-body-text;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}
.smaller-font {
	font-family: $myriadRegular;
	font-size: $fontSize-smaller;
	line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-family: $myriadBold;
	font-weight: normal;
	font-style: normal;
}
h2 {
   	font-size: $fontSize-default;
}
section {
	.percent {
		font-family: $myriadRegular;
	}
	dt, .subtotal dd {
		font-family: $myriadBold;
	}
}

