%button {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    text-transform: uppercase;
	font: #{$fontSize-smaller}/1.7rem $myriadRegular;
    color: $color-btn-text;
    height: 20px;
	-webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-decoration: none;
	padding: $pica/2 $pica $pica/2;
	border-width: 0;
	border-radius: 0.5rem;
}
.button-default, 
input[type=button], 
input[type=submit] {
	@extend %button;
	background-color: $bgcolor-btn;
    position: relative;

	&:hover,&:active,&:focus {
	    background-color: $bgcolor-btn-hover;
	    color: $color-btn-text;
	}
}